In [3]:
#wap to add multiple data in a list using loop.
a = [1,2,3]
b = ['python','sql',45]
for i in a:
    b.append(i)

In [4]:
print(b)

['python', 'sql', 45, 1, 2, 3]

# Dict

In [5]:
x = {
    'name':'asd',
    'age':34,
    'marks':90
}

In [6]:
print(x)

{'name': 'asd', 'age': 34, 'marks': 90}

In [7]:
type(x)

dict

In [11]:
#wap to make a dict of emp having name ,sal & emp_id.
x = {
    'name':['asd','abc','xyz'],
    'age':(34,67,89),
    'marks':[90,78,34]
}

In [12]:
x

{'name': ['asd', 'abc', 'xyz'], 'age': (34, 67, 89), 'marks': [90, 78, 34]}

In [13]:
type(x)

dict

In [14]:
# dict -----> no index
# slicing not possible
x

{'name': ['asd', 'abc', 'xyz'], 'age': (34, 67, 89), 'marks': [90, 78, 34]}

In [17]:
x['name'][2]

'xyz'

In [19]:
x['age'][0]

34

In [20]:
# mutable or not ?
x

{'name': ['asd', 'abc', 'xyz'], 'age': (34, 67, 89), 'marks': [90, 78, 34]}

In [22]:
x['name'] = 90

In [23]:
x

{'name': 90, 'age': (34, 67, 89), 'marks': [90, 78, 34]}

In [29]:
x['marks'][1] = 5

In [30]:
x

{'name': 90, 'age': (34, 67, 89), 'marks': [90, 5, 34]}

In [41]:
# list,dict
x={
    1:0,
    '1':3,
    1:'8',
    0:'python',
    1212:'hello'
}

In [42]:
x

{1: '8', '1': 3, 0: 'python', 1212: 'hello'}

In [33]:
type(x)

dict

In [45]:
#wap to make a empty dict
#wap to make single element dict.

x = {
    
}
print(x)

{}

In [46]:
type(x)

dict

In [50]:
x = {
    'name':'saurabh'
}

In [51]:
print(x)

{'name': 'saurabh'}

In [52]:
type(x)

dict

In [ ]:
#wap to make a dict inside a dict.