In [1]:
#wap to add first 5 numbers.
x = 0
for i in range(1,6):
    x = x+i
print(x)

15

In [2]:
#wap to multiply first 7 natural numbers.

x = 1
for i in range(1,8):
    x = x*i
print(x)

5040

# While Loop

In [6]:
# Step1.Initialization
# Step2. Condition
#Step3. Increment/Decrement

#wap to print a number from 1-10.

x = 1
while x<12:
    print(x)
#     x = x+1
#     x+=1
    x++

SyntaxError: invalid syntax (Temp/ipykernel_4436/3651058621.py, line 12)

In [9]:
#wap to print number from -1 to 23.
#wap to print number from 34 to-23.
#wap to print number from 1-50 where you have to print 
# alternate numbers.
#wap to print the table of 3.



x = -1
while x<=23:
    print(x)
    x = x+1

-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [13]:
x = 28
y = 28
z = x!=y
print(z)

False

In [14]:
# 34 - -23
x = 34
while x > -23:
    print(x)
    x = x-1

34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20
-21
-22

In [16]:
#wap to print number from 1-50 where you have to print 
# alternate numbers.
# #wap to print the 5 table.


x = 1
while x<=50:
    print(x)
    x = x+2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [18]:
x = 5
while x<=50:
    print(x)
    x = x+5

5
10
15
20
25
30
35
40
45
50